header{
   background: url('../../assets/bg-home-3248c723883e7ba8c9b4b6d983c4b50b.jpg') center no-repeat; 
   width: 100%;
   max-width: 100%;
   height: 600px;
   overflow: hidden;
   position: relative;
   margin-top: 70px;
   padding-top: 40px;
   font-family: 'Sofia Sans', sans-serif;
   
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    
}

header h1{
    font-size: 50px;
    padding: 25px 0;
    color: #fff;
    
}

header p{
    color: #fff;
    line-height: 1.8;
}

header form{
    margin: 25px 0px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 570px;
    margin-left: 370px;
}

header form input{
    background-color: #fff;
    width: 400px;
    border-radius: 30px;
    text-align: left;
    color: black;
    font-size: 16px;
    padding: 7px;
    border: 1px solid #fff;
}

header form button{
    background-color: var(--sec);
    border: 1px solid var(--sec);
    width: 140px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 7px;
}

header .overlay{
    /* background-color: #5c2a89; */
    background-color: var(--main);
    opacity: .9;
    width: 100%;
    max-width: 100%;
    height: inherit;
    text-align: center;
    margin: -39px 0px 25px 0;
}

