header{
   background: url('../../assets/bg-home-3248c723883e7ba8c9b4b6d983c4b50b.jpg') center no-repeat; 
   width: 100%;
   max-width: 100%;
   height: 600px;
   overflow: hidden;
   position: relative;
   margin-top: 70px;
   padding-top: 40px;
   font-family: 'Sofia Sans', sans-serif;
   
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    
}

header h1{
    font-size: 50px;
    padding: 25px 0;
    color: #fff;
    
}

header p{
    color: #fff;
    line-height: 1.8;
}

header .overlay{
   background-color: #5c2a89;
    background-color: var(--main);
    opacity: .9;
    width: 100%;
    max-width: 100%;
    height: inherit;
    text-align: center;
    margin: -39px 0px 25px 0;
}
 


.home-form{
    margin-top: 50px !important;
    background-color: #fff;
    width: 40%;
    margin: auto;
    height: 60px;
    border-radius: 30px;
}   


.home-btn{
    background-color: var(--sec) !important;
    margin-top: 5px !important;
    float: right;
    margin-right: 10px;
    border-radius: 30px !important;
    padding: 10px 40px !important;
    border: 1px solid var(--sec) !important;
    letter-spacing: 2px;
    font-size: 35px;
}

.home-btn:hover{
    transform: translateY(-3px);
    transition: transform .4s ease-in-out;
}

.home-btn:not(hover){
    transform: translateY(3px);
    transition: transform .4s ease-in-out;
} 

.home-input{
    border: 1px solid #fff !important;
    margin-top: 10px !important;
    margin-left: 20px !important;
}
    
.home-input:focus{
    outline: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:664px) {
    .home-form{
        background: transparent;
    }

    .home-btn{
        
        width: inherit !important;
        margin-top: 25px !important;
        margin-left: 0 !important;
        margin-right: 17px !important;
    }

    .home-input{
        width: inherit !important;
        margin: auto 0 !important;
        border-radius: 30px !important;
        padding: 10px 40px !important;
        text-align: center;
    }
}

@media screen and (max-width:412px) {
    .home-form{
        background: transparent;
    }

    .home-btn{
        width: inherit;
        margin: 15px auto !important;;
        letter-spacing: 0;
        font-size: 15px !important;
        text-align: center;
    }

    .home-input{
        width: inherit;
        font-size: 15px !important;
        padding: 10px 0 !important;
    }

    .home{
        margin-top: 40px !important;
    }
}