
.contact-form{
    margin-bottom: 80px;
    font-family: 'Sofia Sans', sans-serif;
}

.contact-form .contact-box{
    margin-bottom: 35px;
}
.contact-form .contact-box h6{
    margin: 20px 0 15px 0;
    color: #000;
}

.contact-form .contact-box div{
   margin-bottom: 7px;
   color: #727070;
}

.contact-form{
    margin-top: 20px;
}

.contact-form input{
    margin-bottom: 15px;
    padding: 12px 22px;
    border:  1px solid #e2dfdf !important;
    outline: none !important;
    text-transform: capitalize;
}

#form-text{
    border:  1px solid #e2dfdf !important;
    text-transform: capitalize;
    padding-left: 20px;
    padding-top: 10px;
    height: 100px;
}

.contact-form .contact-btn{
    width: 140px;
    padding: 11px 18px !important;
    border-radius: 5px !important;
    margin-right: 0 !important;
    text-transform: capitalize;
    background-color: var(--sec) !important;
    border: 1px solid var(--sec) !important;
    float: right;
}

.contact-form .contact-btn:hover{
    transform: translateY(-4px);
    transition: transform .4s ease-in-out;
}

.contact-form .contact-btn:not(hover){
    transform: translateY(4px);
    transition: transform .4s ease-in-out;
} 

