
.contact-form{
    margin-bottom: 80px;
    font-family: 'Sofia Sans', sans-serif;
}

.contact-form .contact-box{
    margin-bottom: 35px;
}
.contact-form .contact-box h6{
    margin: 20px 0 15px 0;
    color: #000;
}

.contact-form .contact-box div{
   margin-bottom: 7px;
   color: #727070;
}

form{
    font-family: 'Sofia Sans', sans-serif;
    display: grid;
}

form .above{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form .under{
    display: grid;
    grid-template-columns: 1fr;
}

.contact-form form input{
    padding: 10px 20px;
    border:  1px solid #bebcbc;
    margin: 20px 20px 0 0;
    outline: none;
}

form #name{
    /* width: 47%; */
}

form #email{
    /* width: 47%; */
}

form #sub{
    /* width: 712px; */
    margin-bottom: 20px;
}

form textarea{
    border:  1px solid #bebcbc;
    /* width: 712px; */
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    outline: none;
    width: 715px;

}

.contact-form button{
    float: right;
    /* margin-right: 23px; */
    margin-top: 15px;
    color: #fff;
    background-color: var(--sec);
    outline: none;
    border: 1px solid var(--sec);
    border-radius: 5px;
    padding: 8px 17px ;
    margin-bottom: 30px;
    width: auto;
    display: block;
    margin-right: 20px;
}

.contact-form button:hover{
    transform: translateY(-4px);
    transition: transform .4s ease-in-out;
}

.contact-form button:not(hover){
    transform: translateY(4px);
    transition: transform .4s ease-in-out;
}
